<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Torneos de Arquería</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if(typeof user !== 'undefined' && user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Panel</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="torneosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-trophy me-1"></i> Torneos
            </a>
            <ul class="dropdown-menu" aria-labelledby="torneosDropdown">
              <li><a class="dropdown-item" href="/torneos">Ver Todos</a></li>
              <li><a class="dropdown-item" href="/torneos/mis-torneos">Mis Torneos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/torneos/crear">Crear Torneo</a></li>
            </ul>
          </li>
          <% if(user.isAdmin) { %>
            <li class="nav-item">
              <a class="nav-link" href="/users">Usuarios</a>
            </li>
          <% } %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= user.nombre %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="/users/profile">
                  <i class="fas fa-user-circle me-2"></i> Mi Perfil
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="/entrenamientos/evolucion">
                  <i class="fas fa-chart-line me-2"></i> Mi Evolución
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="/logout">
                  <i class="fas fa-sign-out-alt me-2"></i> Cerrar Sesión
                </a>
              </li>
            </ul>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Registrarse</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav> 